# Exclude any AI / PSD source
*.ai
*.psd

# Exclude the node modules folder
node_modules

# IDEA config files
.idea/

# All the sass cache files
.sass-cache

# Ignore the folder that contains the build of the app
platforms
