/*
https://css-tricks.com/viewport-sized-typography/
Viewport Sized Typography
1vw = 1% of viewport width
1vh = 1% of viewport height
1vmin = 1vw or 1vh, whichever is smaller
1vmax = 1vw or 1vh, whichever is larger
*/

#settings {
  background-image:  url("../img/dog_and_cat_seamless_pattern-oppacity.png");
  background-repeat: repeat;
}

#settings__nav {
  background-color: rgba(255, 255, 255, 0.7);
  float:            left;
  margin-bottom:    0px;
  padding-left:     40px;
  padding-right:    40px;
  margin-top:       0px;
  overflow-y:       hidden;
  width:            calc(100% - 80px);

  .full-width-row {
    float: left;
    width: 100%;
  }

  .row-with-top-margin {
    margin-top: 5vw;
  }


}
